{% extends 'base.html' %}
{% block title %}{{post.tag}} post - {{post.title}}{% endblock %}

{% block content %}

<h1>{{post.title}}</h1>
<small>{{ post.author.first_name }} {{post.last_name}} - {{post.post_date|date:"d/m/Y" }}</small>
<br/>
{% if post.image_url %}
    <img src="{{ post.image_url }}" alt="Imagem do Post", class="img-thumbnail w-25">
{% endif %}
<br/>
{{ post.body|safe }}<br/>
{{post.author.email}}<br/>
<small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small><br/>
<small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>

<br/>
<br/>
<a class="btn btn-outline-secondary" href="{% url 'home' %}">Back</a>

{% endblock %}