{% extends 'base.html' %}
{% block title %}Blog - edit post{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>edit your blog post</h1>

<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% if post.image_url %}
        <strong>Current Image</strong><br/>
        <img src="{{ post.image_url }}" alt="Imagem do Post" class="img-thumbnail w-25">
        {% endif %}<br/>
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Update</button>
    </form>
</div>

<br/>
<br/>
<a class="btn btn-outline-secondary" href="{% url 'home' %}">Back</a>

{% else %}
<h2> You need to be logged in to do this</h2>

{% endif %}


{% endblock %}

